/*Type Specimen Project
    Author: Zach Marrese
    School: UW Parkside
    Class:  Art 377 Interactive Design
    Prof:   Dan Martin
    Description: This is the css file of the font showcase that correlates with the HTML file.
*/
/*This Class is a Catch That will replace any missed texts with the correct font family. 
IMPORTANT TO IMPLEMENT AFTER DEV IS COMPLETE.
*/
html {background-color: rgb(29,102,141)}

.fontContainer{
    font-family: 'exo 2', sans-serif;
    color:white; 
}


/*TODO: DEVELOP THE GRID SYSTEM*/
.titleGrid{
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 6fr 6fr;
    grid-template-rows: auto 50px;
    background-color: rgb(21,55,74);
}
.mItem{ 
    
    text-align: center;
}

.Two{
    display: none;
}
.Three{
    color: white;
    grid-column: 2/span 3;
    justify-self: center;
}
.Four{
    display: none;
}


a:link{
    color: white;
}
a:hover{
    color: rgb(135, 241, 28);
}
a:visited{
    color: rgb(35, 221, 234);
}
/*The main title text for the site.*/
.fontTitle{
    font-family: 'exo 2', sans-serif;
    font-size: 200px;
    font-weight: 100;
    text-align: center;
    
}
.navMenu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.introGrid{
    display:grid;
    align-items: center;
    grid-template-columns: 900px;
    grid-template-rows: 45fr;

}

.introHeader{
    margin:auto;
    width: 50%;
    font-family: 'exo 2' sans-serif;
    font-size: 80px;
    font-weight: 300;
    color: white;
}

.introBody{
    margin-left: 75px;
    font-size: 25px;
    color: white;

}
.showcaseHeader{
    font-family: 'exo 2' sans-serif;
    font-size: 80px;
    font-weight: 300;
    color: white;
}

.showGrid{

    font-family: 'exo 2' sans-serif;
    display:grid;
    grid-template-columns: 8fr 3fr 3fr;
    grid-template-rows: 120px 120px 4fr 4fr 4fr;
}

.s1{
    text-align:right;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-right: 80px;
    font-size: 90px;
    font-weight: 800;
    color: rgb(134, 176, 243);
}
.s6{
    text-align: center;
    font-family: 'exo 2' sans-serif;
    font-size: 90px;
    font-weight: 100;
    color: white;
}
.s7{
    font-size: 200px;
    font-weight: 900;
    color: rgb(10, 35, 56);
    grid-column: span 3;
    opacity: .65;
    font-style: italic;
    overflow-x:hidden ;
}
.s10{
    font-size: 100px;
    font-weight: 700;
    grid-column: span 2;
    color: white;

}
.s11{
    font-size: 150px;
    font-weight: 100;
    font-stretch: ultra-expanded;
    grid-column: span 3;
    letter-spacing: 10px;
    overflow-x: hidden;
}

.bodyHeader{
    color:white;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}
.body1{
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin-right: 30px;
    margin-top:30px;
    margin-left: 30px;
}

.body2{
    font-weight: 100;
    font-size: 10px;
    color:white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 63%;
}

.body3{
    font-weight: 400;
    font-size: 25px;
    color:white;
    margin: 30px;
    line-height: 50px; 
    font-stretch: expanded;
}
.charDisplay{
    text-align: center;
    color:white;
    font-size: 90px;
    font-weight: 400;

}
.mainChar{
    content: "X";
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color:white;
    font-size: 90px;   
    font-weight:500;
    font-style: normal;    
}
.charOptions{
    display:grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    text-align: center;
}
.L{
    color:white;
    font-size: 30px;
    font-weight: 200;
    background-color: transparent;
}
.B{
    color:white;
    font-size: 30px;
    font-weight: 600;
    background-color: transparent;
}
.I{
    color:white;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    background-color: transparent;
}
.N{
    color:white;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
}
button:hover{
    cursor:pointer;
    color: rgb(135, 241, 28);
}
input{
    font-family: inherit;
}
input:hover{
    cursor:pointer;
    color: rgb(135, 241, 28);
}
.charGrid{
    margin-top:30px;
    align-items: center;
    display:grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 40px);
}
.A{
    font-size: 30px;
    color:white;
    background-color: rgb(23,70,110);
    font-weight: 200;

}
.experimentHeader{
    color:white;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.ex1{
    font-size: 80px;
    font-weight: 200;
    position: relative;
    right: -660px;
    top: 43px;
    
    
}

.ex11{
    transform: rotate(-90deg);
    font-size: 80px;
    font-weight: 200;
    position: relative;
    top: -706px;

}
@keyframes ex3{
    0% {color:white}
    10%{font-size: 30px;}
    25%{color:rgb(134, 176, 243) }
    35%{font-size: 40px;}
    50%{color:rgb(10, 206, 236)}
    60%{font-size: 50px;}
    75%{color: rgb(134, 176, 243)}
    80%{font-weight: 700;}
    100%{color: rgb(135, 241, 28)}
}

.matrix{
    font-weight: 300;
    
    line-height: 60%;
    font-stretch: ultra-expanded;
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(9, 43, 236), rgb(112, 240, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
}
.finalEx{
    position: inherit;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    align-content: center;
    margin-top: 5px;
    animation-name: ex3;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    margin-bottom: 15px;
    padding: 20px;
}
.finalGrid{
    position: -webkit-sticky;
    position:sticky;
    bottom:0;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: auto;
    background-color: rgb(21,55,74);
}